target/
.project
.settings/
.classpath
bin/
.DS_Store
docs/_build
.vscode
.claude

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
.gitattributes
gradlew
gradlew.bat
/gradle
